#{extends 'main.html' /}

#{if rankings.size() > 0}
	<table>
		<thead>
		<tr>
			<th colspan="8">Rankings</th>
		</tr>
		<tr>
			<th>&{'rank.rank'}</th>
			<th>&{'rank.user'}</th>
			<th>&{'rank.wins'}</th>
			<th>&{'rank.losses'}</th>
			<th>&{'rank.draws'}</th>
			<th>&{'rank.score'}</th>
			<th></th>
		</tr>
		</thead>
	#{list rankings, as:'r'}
		<tr>
			<td>
				<img src="http://www.gravatar.com/avatar/${r.user.gravatarHash}?s=50" /> <br/>
				${r.user.username}
			</td>
			<td>${r.wins}</td>
			<td>${r.losses}</td>
			<td>${r.draws}</td>
			<td>${r.score}</td>
			<td>#{userChart user:r.user, size:"150x100", c:'00' /}</td>
		</tr>
	#{/list}
	</table>
#{/if}
#{else}
	<div class="notice">
		&{'ranking.recalc'}
	</div>
#{/else}
