#{extends 'main.html' /}

#{if rankings.size() > 0}
	<div class="clearfix">
		<div class="left">
			#{if page > 1}
				<a href="@{show(page-1)}">&{'prev'}</a>
			#{/if}
			#{if count > (page - 1) * 0 + pageSize - 1}
				<a href="@{show(page+1)}">&{'next'}</a>
			#{/if}
		</div>
		<div class="right">
			#{if count > (page - 1) * 0 + pageSize - 1}
			&{'pagination', 'ranks', (page - 1) * pageSize + 1, (page - 1) * 0 + pageSize - 1 + 1, count}
			#{/if}
			#{else}
			&{'pagination', 'ranks', (page - 1) * pageSize + 1, count, count}
			#{/else}
		</div>
	</div>
	<table id="ranking">
		<thead>
		<tr>
			<th>&{'rank.rank'}</th>
			<th>&{'rank.user'}</th>
			<th>&{'rank.wins'}</th>
			<th>&{'rank.losses'}</th>
			<th>&{'rank.draws'}</th>
			<th>&{'rank.score'}</th>
			<th></th>
		</tr>
		</thead>
	#{list rankings, as:'r'}
		<tr>
			<td>${r.rank}</td>
			<td>
				<a href="@{Users.show(r.user.username)}"><img src="http://www.gravatar.com/avatar/${r.user.gravatarHash}?s=50" /></a>
				<br/>
				<a href="@{Users.show(r.user.username)}" class="noline">${r.user.username}</a>
			</td>
			<td>${r.wins}</td>
			<td>${r.losses}</td>
			<td>${r.draws}</td>
			<td>${r.score}</td>
			<td>#{userChart user:r.user, size:"150x100", type:"p", data:r.data, labels:r.labels /}</td>
		</tr>
	#{/list}
	</table>
#{/if}
#{else}
	<div class="notice">
		&{'rank.recalc'}
	</div>
#{/else}
