#{extends 'main.html' /}

#{if rankings.size() > 0}
	<table id="ranking">
		<thead>
		<tr>
			<th>&{'rank.rank'}</th>
			<th>&{'rank.user'}</th>
			<th>&{'rank.wins'}</th>
			<th>&{'rank.losses'}</th>
			<th>&{'rank.draws'}</th>
			<th>&{'rank.score'}</th>
			<th></th>
		</tr>
		</thead>
	#{list rankings, as:'r'}
		<tr>
			<td>${r.rank}</td>
			<td>
				<a href="@{Users.show(r.user.username)}"><img src="http://www.gravatar.com/avatar/${r.user.gravatarHash}?s=50" /></a>
				<br/>
				<a href="@{Users.show(r.user.username)}" class="noline">${r.user.username}</a>
			</td>
			<td>${r.wins}</td>
			<td>${r.losses}</td>
			<td>${r.draws}</td>
			<td>${r.score}</td>
			<td>#{userChart user:r.user, size:"150x100", type:"p" /}</td>
		</tr>
	#{/list}
	</table>
#{/if}
#{else}
	<div class="notice">
		&{'ranking.recalc'}
	</div>
#{/else}
