body {
	text-align: center;
	min-width: 500px;
}

#content {
	text-align: left;
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
}

div.center {
	text-align: center;
}

table.tictac td {
	border: 1px solid black;
	padding: 50px;
}

td.hover {
	background-color: #FFF3CC;
}

td.Player {
	background-color: #00FF00;
}

td.Computer {
	background-color: #FF0000;
}