body {
	text-align: center;
	min-width: 500px;
}

div.header {
	width: 100%;
	background-color: #4575D4; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B8FD4', endColorstr='#4575D4'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#6B8FD4), to(#4575D4)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #6B8FD4,  #4575D4); /* for firefox 3.6+ */
}

div.header div.left {
	margin-left: 0.5em;
}

form {
	background-color: #dedede;	
}

form fieldset {
	padding: 0;
}

form h2 {
	background-color: #eeeeee;
	padding: 5px 10px;
}

form p {
	padding-left: 20px;	
}

#content {
	text-align: left;
	width: 480px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

div.game {
	width: 300px;
	text-align: center;
	margin: auto;
}

div.game div.log ul li{
	text-align: left;
}

div.center {
	text-align: center;
}

table.tictac tr td {
	background-color: inherit;
}

table.tictac tr.first td {
	border-bottom: 2px solid black;
}
table.tictac tr.last td {
	border-top: 2px solid black;
}
table.tictac tr td.first {
	border-right: 2px solid black;
}
table.tictac tr td.last {
	border-left: 2px solid black;
}

table.tictac td {
	padding: 50px;
}

table.tictac td.hover {
	background-color: #FFF3CC;
}

table.tictac td.Player {
	background-image: url(/public/images/x.png);
	background-repeat: no-repeat;
	background-position: center center;
}

table.tictac td.Computer {
	background-image: url(/public/images/o.png);
	background-repeat: no-repeat;
	background-position: center center;
}

div#log ul {
	list-style: none;
}

table#game_list table.tictac {
	width: auto;
	float: right
}

table#game_list table.tictac td {
	padding: 25px;
}

table#game_list table.tictac td.Player {
	background-image: url(/public/images/x_small.png)
}

table#game_list table.tictac td.Computer {
	background-image: url(/public/images/o_small.png)
}

table#ranking tr td {
	text-align: center;
}
