body {
	text-align: center;
	min-width: 500px;
}

#content {
	text-align: left;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
}

div.center {
	text-align: center;
}

table.tictac {
	border-collapse: collapse;
}

table.tictac tr.first td {
	border-bottom: 2px solid black;
}
table.tictac tr.last td {
	border-top: 2px solid black;
}
table.tictac tr td.first {
	border-right: 2px solid black;
}
table.tictac tr td.last {
	border-left: 2px solid black;
}

table.tictac td {
	padding: 50px;
}

td.hover {
	background-color: #FFF3CC;
}

td.Player {
	background-image: url(/public/images/x.png);
	background-repeat: no-repeat;
	background-position: center center;
}

td.Computer {
	background-image: url(/public/images/o.png);
	background-repeat: no-repeat;
	background-position: center center;
}