#{extends 'main.html' /}
<div class="clearfix">
		<div class="left">
			<h1>${user.username}'s profile</h1>
		<h3>Member since ${user.createdOn.since()}</h3>
	</div>
	<div class="right">
		<img src="http://www.gravatar.com/avatar/${user.gravatarHash}?f=y" />
	</div>
</div>
#{if loggedIn && user.username == session.username}
	#{if email == null}
		<div class="notice">
			&{'nogravatar'}
		</div>
	#{/if}
#{/if}
#{if user.record.keySet().size() > 0}
<table>
	<thead>
	<tr>
		<th colspan="2">Record</th>
	<tr>
	</thead>
#{list user.record, as:'r'}
	<tr>
		<td>${r.key}</td>
		<td>${r.value.size()}</td>
	</tr>
#{/list}
	<tr>
		<td>Total</td>
		<td>${user.games.size()}</td>
	<tr>
</table>

<div class="center">
	<img src="http://chart.apis.google.com/chart?chs=300x225&chd=t:${user.recordValues.join(',')}&chco=${models.GameStatus.getColorURL(user.record.keySet())}&cht=p&chdl=${user.record.keySet().join('|')}" />
</div>
#{/if}

#{if user.games.size() > 0}
<table id="game_list">
	<thead>
		<tr>
			<th colspan="3">List of Games</th>
		</tr>
	</thead>
	<tbody>
	#{list user.games, as:'game'}
		<tr>
			<td><a href="@{GameController.show(game.id)}">${game.status}</a></td>
			<td>${game.createdOn.format('M/d/yyyy h:m a')}</td>
			<td>#{game game:game /}</td>
		</tr>
	#{/list}
	</tbody>
</table>
#{/if}
#{else}
	<div class="info clearfix">
		<span class="clearfix">&{'nogames'}</span>
		<a href="@{GameController.newGame}" class="button positive">&{'newgame'}</a>
	</div>
#{/else}
