#{extends 'main.html' /}
#{userHeader user:user /}
#{if loggedIn && user.username == session.username}
	#{if user.email == null}
		<div class="notice clearfix">
			<span class="clearfix">&{'nogravatar'}</span>
			<a href="@{edit(user.username)}" class="button">&{'profile.edit'}</a>
		</div>
	#{/if}
	#{else}
		<div class="clearfix">
			<a href="@{edit(user.username)}" class="button">&{'profile.edit'}</a>
			#{if user.games.size() > 0}
				<a href="@{GameController.newGame()}" class="button positive">&{'newgame'}</a>
			#{/if}
		</div>
	#{/else}
#{/if}
#{if user.record.keySet().size() > 0}
<table>
	<thead>
	<tr>
		<th colspan="2">Record</th>
	<tr>
	</thead>
#{list user.record, as:'r'}
	<tr>
		<td>${r.key}</td>
		<td>${r.value.size()}</td>
	</tr>
#{/list}
	<tr>
		<td>Total</td>
		<td>${user.games.size()}</td>
	<tr>
</table>

<div class="center">
	#{userChart user:user, size:"300x225", type:"p3"/}
</div>
#{/if}

#{if user.games.size() > 0}
<table id="game_list">
	<thead>
		<tr>
			<th colspan="3">List of Games</th>
		</tr>
	</thead>
	<tbody>
	#{list user.games, as:'game'}
		<tr>
			<td><a href="@{GameController.show(game.id)}">${game.status}</a></td>
			<td>${game.createdOn.format('M/d/yyyy h:mm a')}</td>
			<td>#{game game:game /}</td>
		</tr>
	#{/list}
	</tbody>
</table>
#{/if}
#{else}
	<div class="info clearfix">
		<span class="clearfix">&{'nogames'}</span>
		<a href="@{GameController.newGame}" class="button positive">&{'newgame'}</a>
	</div>
#{/else}
