#{extends 'main.html' /}

<h1>${user.username}'s profile</h1>
<h3>Member since ${user.createdOn.since()}</h3>

<table>
	<tr>
		<th colspan="2">Record</th>
	<tr>
#{list user.record, as:'r'}
	<tr>
		<td>${r.key}</td>
		<td>${r.value.size()}</td>
	</tr>
#{/list}
	<tr>
		<td>Total</td>
		<td>${user.games.size()}</td>
	<tr>
</table>

<div class="center">
	<img src="http://chart.apis.google.com/chart?chs=300x225&chd=t:${user.recordValues.join(',')}&cht=p3&chdl=${user.recordKeys.join('|')}" />
</div>

#{if user.games.size() > 0}
<h3>List of Games</h3>
<table id="game_list">
	#{list user.games, as:'game'}
		<tr>
			<td><a href="@{GameController.show(game.id)}">${game.status}</a><td>
			<td>${game.createdOn.format('M/d/yyyy h:m a')}</td>
			<td>#{game game:game /}</td>
		</tr>
	#{/list}
</table>
#{/if}