#{extends 'main.html' /}
#{set title:'Tic Tac Toe' /}
<script type="text/javascript">
	var moveUrl = '@{makeMove(game.id)}';
</script>

<a href="@{GameController.newGame()}">Create new game</a>

<table class="tictac">
#{list [0,1,2], as:'i'}
	<tr>
	#{list [0,1,2], as:'j'}
		<td data-x="${i}" data-y="${j}" class="${game.state[i][j]}"></td>
	#{/list}
	</tr>
#{/list}
</table>

<div id="log">
	<ul>
		<li>There have been ${game.moves.size()} moves</li>
	#{list game.moves, as:'move'}
		<li>${move}</li>
	#{/list}
	</ul>
</div>

#{script 'tictactoe.js' /}