#{extends 'main.html' /}
#{set title:'Tic Tac Toe' /}
<script type="text/javascript">
	var moveUrl = '@{makeMove(game.id)}';
</script>

<div class="center">
	<a href="@{GameController.newGame()}">Create new game</a>
</div>
<table class="tictac#{if !util.TicTacToeAI.isStillPlaying(game.state)} done#{/if}">
#{list [0,1,2], as:'y'}
	<tr>
	#{list [0,1,2], as:'x'}
		<td data-x="${x}" data-y="${y}" class="${game.state[y][x]}"></td>
	#{/list}
	</tr>
#{/list}
</table>

<div id="log">
	<ul>
	#{list game.moves, as:'move'}
		<li>${move}</li>
	#{/list}
	</ul>
</div>

#{script 'tictactoe.js' /}