#{extends 'main.html' /}
#{set title: 'Tic Tac Toe' /}
#{i18n /}

#{set 'moreScripts'}
<script type="text/javascript">
	var moveUrl = '@{makeMove(game.id)}';
</script>
#{script 'tictactoe.js' /}
#{/set}

<div class="game">

#{game game:game/}

<div id="log">
	<ul>
	#{list game.moves, as:'move'}
		<li>${move}</li>
	#{/list}
	#{ifnot util.TicTacToeAI.isStillPlaying(game.state)}
		<li>
		#{if util.TicTacToeAI.getWinner(game.state) == null}
		    &{'draw'}
		#{/if}
		#{else}
			&{'winner', util.TicTacToeAI.getWinner(game.state)}
		#{/else}
		</li>
	#{/ifnot}
	</ul>
</div>
</div>
