#{extends 'main.html' /}
#{set title: 'Tic Tac Toe' /}
#{set 'moreScripts'}
#{i18n /}
#{if !loggedIn || game.user == null ||game.user.username == session.username}
	<script type="text/javascript">
		var moveUrl = '@{makeMove(game.id)}';
	</script>
	#{script 'tictactoe.js' /}
#{/if}
#{/set}

<div class="game#{ifnot game.status.incomplete} done#{/ifnot}">

#{game game:game/}

<div id="log">
	<ul class="zebra">
	#{list game.moves, as:'move'}
		<li>${move}</li>
	#{/list}
	#{ifnot util.TicTacToeAI.isStillPlaying(game.state)}
		<li>
		#{if util.TicTacToeAI.getWinner(game.state) == null}
		    &{'draw'}
		#{/if}
		#{else}
			&{'winner', util.TicTacToeAI.getWinner(game.state)}
		#{/else}
		</li>
	#{/ifnot}
	</ul>
</div>

<div id="new" class="info clearfix">
	<span class="clearfix">&{'game.over'}</span>
	<a href="@{newGame}" class="button positive">&{'newgame'}</a>
</div>

</div>

