#{extends 'main.html' /}
#{set title: 'Tic Tac Toe' /}
#{i18n /}

<script type="text/javascript">
	var moveUrl = '@{makeMove(game.id)}';
</script>

<div class="center">
	<a href="@{GameController.newGame()}">&{'newgame'}</a>
</div>
<table class="tictac#{ifnot util.TicTacToeAI.isStillPlaying(game.state)} done#{/ifnot}">
#{list [0,1,2], as:'y'}
	<tr class="#{if y == 0}first#{/if}#{if y == 2}last#{/if}">
	#{list [0,1,2], as:'x'}
		<td data-x="${x}" data-y="${y}" class="${game.state[y][x]}#{if x == 0} first#{/if}#{if x == 2} last#{/if}"></td>
	#{/list}
	</tr>
#{/list}
</table>

<div id="log">
	<ul>
	#{list game.moves, as:'move'}
		<li>${move}</li>
	#{/list}
	#{ifnot util.TicTacToeAI.isStillPlaying(game.state)}
		<li>
		#{if util.TicTacToeAI.getWinner(game.state) == null}
		    &{'draw'}
		#{/if}
		#{else}
			&{'winner', util.TicTacToeAI.getWinner(game.state)}
		#{/else}
		</li>
	#{/ifnot}
	</ul>
</div>

#{script 'tictactoe.js' /}