#{extends 'main.html' /}
#{set title:'Tic Tac Toe' /}

#{if flash.error}
	<div class="error">
		${flash.error}
	</div>
#{/if}

<form id="login" action="@{Application.authenticate}" method="POST">
<fieldset>
	<h2>&{'login'}</h2>
	<p>
		<label>&{'username'}</label> <br/>
		<input type="text" name="username" value="${flash.username}" id="username" />
	</p>
	<p>
		<label>&{'password'}</label> <br/>
		<input type="password" name="password" value="" id="password" />
	</p>
	<p class="buttons">
		<button type="submit" id="loginButton" class="button positive">&{'login'}</button>
	</p>
</fieldset>
</form>

<div class="info">
	<div class="clearfix">
		<a href="@{signup}" class="button">Sign up for an account</a> <a href="@{GameController.newGame}" class="button positive">Play a new Game</a>
	</div>
	<span>&{'anonymous'}</span>
</div>
