#{extends 'main.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/forms.css'}" />
#{/set}

#{if errors}
    <div class="error">
    	<ul>
    		#{errors}
			<li>${error}</li>
    		#{/errors}
    	</ul>
    </div>
#{/if}

<form id="signup" action="@{Application.register}" method="POST">
<fieldset>
	<h2>Create an Account</h2>
	<p>
		<label>&{'username'}</label> <br/>
		<input type="text" name="username" value="${flash.username}" id="username" title="&{'username.help'}" />
	</p>
	<p>
		<label>&{'email'}</label> <br/>
		<input type="text" name="email" value="${flash.email}" id="email" title="&{'email.help'}" />
	</p>
	<p>
		<label>&{'password'}</label> <br/>
		<input type="password" name="password" value="${flash.password}" id="password" title="&{'password.help'}"/>
		<input type="password" name="password2" value="${flash.password2}" id="password2" title="&{'password2.help'}"/>
	</p>
	<p class="buttons">
		<button type="submit" id="signupButton" class="button positive">&{'signup'}</button>
	</p>
</fieldset>	
</form>