#{extends 'main.html' /}

<h1 id="title">Signup</h1>

<form id="signup" action="@{Application.register}" method="POST">
	#{field 'username'}
	<p>
		<label>&{field.name}</label> <br/>
		<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		<span class="error">${field.error}</span>
	</p>
	#{/}
	#{field 'password'}
	<p>
		<label>&{field.name}</label> <br/>
		<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		<span class="error">${field.error}</span>
	</p>
	#{/}
	#{field 'password2'}
	<p>
		<label>&{field.name}</label> <br/>
		<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		<span class="error">${field.error}</span>
	</p>
	#{/}
	<p class="info">
		Enter your desired password twice. It must be at least 5 characters.
	</p>
	<p class="buttons">
		<input type="submit" value="Signup" id="signupButton" />
	</p>	
</form>