<!DOCTYPE html>

<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/screen.css'}">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/plugins/buttons/screen.css'}">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
		#{get 'moreStyles' /}
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	</head>
	<body>
		<div class="header clearfix">
			<div class="left">
				<a href="@{Leaderboard.index}" class="button">&{'leaderboard'}</a>
			</div>
			<div class="right">
				<a href="@{GameController.newGame}" class="button positive">&{'newgame'}</a>
				#{if loggedIn}
					<a href="@{Application.logout}" class="button negative">&{'logout'}</a>
					<a href="@{Users.show(session.get('username'))}" class="button">&{'profile'}</a>
				#{/if}
				#{else}
					<a href="@{Application.index}" class="button">&{'login'}</a>
					<a href="@{Application.register}" class="button">&{'signup'}</a>
				#{/else}
			</div>
		</div>
		<div id="content">
		#{if flash.success}
			<div class="success">
				${flash.success}
			</div>
		#{/if}
		#{doLayout /}
		</div>
		<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<!--[if IE]> #{script 'iefix.js'/} <![endif]-->
		#{get 'moreScripts' /}
	</body>
</html>
